.restful {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  border-top: var(--color-gray) 1px solid;
  padding: 10px 0 20px;
}

.params {
  width: calc(100% - 40px);
  padding: 0 20px;
  border-top: var(--color-gray) 1px solid;
  border-right: var(--color-gray) 1px solid;
  border-left: var(--color-gray) 1px solid;
}

.img {
  width: 20px;
  height: 20px;
}

.form {
  width: 100%;
  display: flex;
  gap: 20px;

  input[type='text'] {
    outline: none;
    border: 1px solid var(--color-gray);
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    transition: 0.3s;
    border-radius: 0 15px 15px 0;
    background-color: var(--color-gray);

    &:focus {
      border: 1px solid var(--color-purple);
      background-color: var(--white);
    }

    &:hover {
      border: 1px solid var(--color-purple);
    }
  }
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.input-text {
  outline: none;
  width: 100%;
  height: 40px;
  border: 1px solid var(--color-gray);
  padding-left: 20px;
  padding-right: 20px;
  transition: 0.3s;
  background-color: var(--color-gray);

  &:focus {
    border: 1px solid var(--color-purple);
    background-color: var(--white);
  }

  &:hover {
    border: 1px solid var(--color-purple);
  }
}

.body-params {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.textarea {
  width: 100%;
  height: 250px;
  overflow-y: scroll;
  border: 1px solid var(--color-gray);
}

.container {
  width: 100%;
  display: flex;
}
